<h1>School events</h1>

<h2>Today's events</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
    {% for event in events_today %}
        <tr>
            <td>{{ event.date }}</td>
            <td><a href="{% url 'detail' event.id %}" >{{ event.title }}</a></td>
        </tr>
    {% endfor %}
</table> 

<h2>All events</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
    {% for event in all_events %}
        <tr>
            <td>{{ event.date }}</td>
            <td><a href="{% url 'detail' event.id %}" >{{ event.title }}</a></td>
        </tr>
    {% endfor %}
</table> 

